@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #000;
	background-image: linear-gradient(to left bottom, black , #2A2A2A);
	overflow: hidden;
}

@media (max-width: 900px) {

	.main_heading{
		padding-top: 20%;
		padding-bottom: 10%;
		font-size: 36px;	
		color: #fff;
		font-style: italic;
	}

	.main{
		padding-top: 5%;
		padding-bottom: 3%;
		scroll-behavior: smooth;
	}

	.main_tagline{
		font-size: 22px;
		color: #fff;
		font-weight: 300;	
	}

	.youtube_iframe{
		width: 96%; 
		height: 30%;
	}

	.main_video{
		
	}

	.work_image{
		width: 90%;
		height: 40%;
		margin: 5%;
		object-fit: cover;
	}

	.work{
		margin-top: 10%;
		scroll-behavior: smooth;
	}

	.work_button, .about_button{
		color: #fff;
		padding-top: 5%;
		top: 0;
		text-decoration: none;
		font-size: 22px;
		font-weight: 300;
	}

	.work_button{
		float: right;
		padding-right: 5%;
	}

	.about_button{
		float: left;
		padding-left: 5%;
	}

	.scroll_box{
		overflow-y: scroll;
		scroll-behavior: smooth;
	}

	.footerText{
		margin-top: 10%;
		margin-bottom: 20%;
		color: #fff;
		font-weight: 300;
	}

	.about_paragraph{
		font-size: 22px;
		font-weight: 300;
		color: #fff;
		width: 90%;
		margin-left: 5%;
		margin-top: 20%;
		text-align: justify;
	}



	.work_image:hover{
		opacity: 1;
		transition: 0.2s;
	}

	.header{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 12%;
		background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0))
	}
}

@media (min-width: 900px) {

	.main_heading{
		font-size: 128px;	
		color: #fff;
		font-style: italic;
	}

	 .col{
	 	flex: 1;
	 }

	 .flex-grid {
		 display: flex;
	 }

	.logo{
		width: 90%;
		margin-top: 15%;
		margin-bottom: 40%;
	}

	.main{
		padding-top: 0%;
		padding-bottom: 0%;
		scroll-behavior: smooth;
		top: 0;
	}

	.main_tagline{
		font-size: 22px;
		color: #fff;
		font-weight: 300;	
	}

	.menu_section{
		margin-top: 5%;
	}

	.menu_button{
		padding-top: 0%;
		color: #000;
		background: none;
		border: none;
		outline: none;
		right: 0;
		font-size: 16px;
		position: fixed;
		padding-right: 2%;
		text-decoration: none;
	}

	.menu_button_light{
		padding-top: 0%;
		color: #FFF;
		background: none;
		border: none;
		outline: none;
		left: 0;
		font-size: 16px;
		position: fixed;
		padding-left: 2%;
		text-decoration: none;
	}

	.main_video{
		background-color: #fff;
		width: 50%;
		right: 0;
		top: 0;
		bottom: 0;
		position: fixed;
	}

	.youtube_iframe{
		margin-top: 32%;
		width: 70%; 
		height: 35%;
	}


	.work_image{
		width: 36%;
		height: 36%;
		margin: 5%;
		object-fit: cover;
	}

	.work{
		margin-top: 10%;
		scroll-behavior: smooth;
	}

	.work_button, .about_button{
		color: #fff;
		padding-top: 2%;
		top: 0;
		text-decoration: none;
		font-size: 22px;
		font-weight: 300;
	}

	.work_button{

	}

	.about_button{

	}

	.scroll_box{
		overflow-y: scroll;
		scroll-behavior: smooth;
	}

	.footerText{
		margin-top: 0%;
		margin-bottom: 5%;
		color: #fff;
		font-weight: 300;
	}

	.work_paragraph{
		font-size: 22px;
		font-weight: 300;
		color: #000;
		width: 80%;
		padding-top: 20%;
		padding-left: 5%;
		padding-right: 5%;
		margin-top: 20%;
		text-align: left;
	}

	.about_paragraph{
		font-size: 32px;
		font-weight: 300;
		color: #fff;
		width: 80%;
		margin-left: 10%;
		padding-top: 15%;
		padding-bottom: 20%;
	}

	.header{

	}

	.social_link{
		color: #fff;
	}

	.social_links{
		padding-top: 20%;
		padding-bottom: 30%;
		padding-left: 30%;
	}

	.loading_screen{
		top: 0;
		z-index: 999;
		background-color: #000;
	}

	.loadingVideo{
		z-index: -999;
		position: fixed;
	}

	.fade-in.six {
	  -webkit-animation-delay: 1s;
	  -moz-animation-delay: 1s;
	  animation-delay: 1s;
	}

	@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


	.fade-in {
		opacity:0; 
		-webkit-animation:fadeIn ease-in 1; 
		-moz-animation:fadeIn ease-in 1;
		animation:fadeIn ease-in 1;

		-webkit-animation-fill-mode:forwards;  
		-moz-animation-fill-mode:forwards;
		animation-fill-mode:forwards;

		-webkit-animation-duration:1s;
		-moz-animation-duration:1s;
		animation-duration:1s;
	}
}