@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap:400,700');

body{
	font-family: 'Overpass Mono', monospace;
}

@media (max-width: 900px) {

	.main_heading{
		font-size: 128px;	
		color: #fff;
		font-style: italic;
	}

	.about{
		background-color: #000;
	}

	.latest_video{
		margin-top: 0%;
		width: 90%; 
	}

	.logo{
		visibility: hidden;
	}

	.logo_small{
		padding-top: 1%;
		padding-left: 1%;
		width: 70px;
		left: 0;
		top: 0;
		position: fixed;
	}

	.main{
		padding-top: 0%;
		padding-bottom: 0%;
		scroll-behavior: smooth;
		top: 0;
	}

	.scroll{
		padding-top: 20%;
	}

	.main_tagline{
		font-size: 22px ;
		color: #fff;
		font-weight: 300;	
	}

	.menu_section{
		margin-top: 1%;
	}

	.menu_section_light{
		padding-top: 2%;
		padding-bottom: 2%;
		background-color: #fff;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		position: fixed;
	}


	.menu_button{
		padding-top: 0%;
		color: #000;
		background: none;
		border: none;
		outline: none;
		right: 0;
		font-size: 18px;
		position: fixed;
		padding-right: 3%;
		text-decoration: none;
		letter-spacing: 2px;
	}

	.menu_button_light{
		padding-top: 0%;
		color: #FFF;
		background: none;
		border: none;
		outline: none;
		right: 0;
		font-size: 16px;
		position: fixed;
		padding-right: 2%;
		text-decoration: none;
		letter-spacing: 5px;
	}

	.main_video{
		background-color: #fff;
		right: 0;
		top: 0;
		bottom: 0;
		position: fixed;
		padding-top: 70%;
	}

	.youtube_iframe{
		margin-top: 45%;
		width: 90%; 
		height: 30%;
	}


	.work_image{
		width: 36%;
		height: 36%;
		margin: 5%;
		object-fit: cover;
	}

	.work{
		margin-top: 10%;
		scroll-behavior: smooth;
	}

	.work_button, .about_button{
		color: #fff;
		padding-top: 2%;
		top: 0;
		text-decoration: none;
		font-size: 22px;
		font-weight: 300;
	}

	.work_button{

	}

	.workImg{
		height: 200px;
		width: 100%;
		object-fit: cover;
	}

	.workButton{
		background: none;
		outline: none;
		border: none;
		padding-top: 1%;
		padding-bottom: 2%;
	}

	.about_button{

	}

	.scroll_box{
		overflow-y: scroll;
		scroll-behavior: smooth;
	}

	.work_videos{
		visibility: hidden;
		z-index: -999;
		position: fixed;
		top: 0;
	}

	.footerText{
		margin-top: 0%;
		margin-bottom: 5%;
		color: #fff;
		font-weight: 300;
	}

	.work_paragraph{
		font-size: 14px;
		line-height: 1em;
		font-weight: 300;
		color: #000;
		width: 80%;
		text-align: left;
		padding-left: 2.5%;
		padding-top: 10%;
	}

	.number_of_videos{
		font-size: 14px;
		padding-left: 2.5%;
	}

	.about_paragraph{
		font-size: 16px;
		font-weight: 300;
		color: #fff;
		width: 80%;
		margin-left: 10%;
		padding-top: 35%;
		padding-bottom: 40%;
	}

	.header{

	}

	.social_link{
		color: #fff;
	}

	.social_links{
		padding-top: 50%;
		padding-left: 15%;
	}

	.loading_screen{
		top: 0;
		z-index: 999;
		background-color: #fff;
	}

	.loadingVideo{
		z-index: -999;
		position: fixed;
		left: 0;
		padding-left: 0%;
		padding-top: 60%;
		width: 350px;
		visibility: hidden;
	}

	.videoBackground{
		visibility: hidden;
	}


	.vimeoVideo{
		position: fixed;
		top: 0;
		left: 0;
		z-index: -999;
	}

	.backButton{
		border: none;
		background: none;
		color: #fff;
		float: left;
		text-decoration: none;
		font-size: 7vw;
		z-index: 999;
		margin-left: 1%;
		margin-top: 1%;
	}

	.work_page{
		overflow: hidden;
		background-color: #000;
	}

	.work_videos_mobile{
		margin-top: 10%;
		margin-bottom: 50%;
	}


	.work-description-section{
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 999;
		background-color: #fff;
		width: 100%;
		height: 30%;
		padding-left: 4%;
		padding-right: 20%;
	}

	.name-title{
		font-size: 24px;
		font-weight: 700;
		padding-left: 2.5%;
		padding-top: 5%;
		line-height: 1em;
	}

	.fade-in.six {
	  -webkit-animation-delay: 0s;
	  -moz-animation-delay: 0s;
	  animation-delay: 0s;
	}

	@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


	.fade-in {
		opacity:0; 
		-webkit-animation:fadeIn ease-in 1; 
		-moz-animation:fadeIn ease-in 1;
		animation:fadeIn ease-in 1;

		-webkit-animation-fill-mode:forwards;  
		-moz-animation-fill-mode:forwards;
		animation-fill-mode:forwards;

		-webkit-animation-duration:1s;
		-moz-animation-duration:1s;
		animation-duration:1s;
	}

	.ig-logo{
		position: fixed;
		top: 0;
		z-index: -999;
		visibility: hidden;
	}

	.sp-black-logo{
		position: fixed;
		top: 0;
		z-index: -999;
		visibility: hidden;
	}
}

@media (min-width: 900px) {

	.work_videos_mobile{
		visibility: hidden;
		position: fixed;
		z-index: -999;
		top: 0;
	}

	.work_videos{
		padding-top: 0%;
		padding-bottom: 30%;
	}

	body{
		background-color: #000;
	}

	.main_heading{
		font-size: 128px;	
		color: #fff;
		font-style: italic;
	}

	 .col{
	 	flex: 1;
	 }

	 .flex-grid {
		 display: flex;
	 }

	.logo{
		width: 50%;
	}

	.main_logo_background{
		left: 0;
		top: 0;
		background-color: #000;
		margin-top: 50%;
		margin-bottom: 50%;
		margin-left: 35%;
	}

	.logo_small{
		padding-top: 1%;
		padding-left: 1%;
		width: 100px;
		left: 0;
		top: 0;
		position: fixed;
	}

	.main{
		padding-top: 0%;
		padding-bottom: 0%;
		scroll-behavior: smooth;
		top: 0;
	}

	.main_tagline{
		font-size: 22px;
		color: #fff;
		font-weight: 300;	
	}

	.menu_section{
		margin-top: 1%;
	}

	.menu_section_light{
	}

	.menu_button{
		padding-top: 1%;
		color: #000;
		background: none;
		border: none;
		outline: none;
		right: 0;
		font-size: 14px;
		position: fixed;
		padding-right: 1%;
		text-decoration: none;
		letter-spacing: 2px;
	}

	.menu_button_light{
		padding-top: 0%;
		color: #FFF;
		background: none;
		border: none;
		outline: none;
		right: 0;
		font-size: 16px;
		position: fixed;
		padding-right: 2%;
		text-decoration: none;
		letter-spacing: 3px;
	}

	.latest_video{
		margin-top: 25%;
		width: 70%; 
		height: 35%;
	}

	.main_video, .work_description{
		background-color: #fff;
		width: 50%;
		right: 0;
		top: 0;
		bottom: 0;
		position: fixed;
	}

	.work_description{

	}

	.youtube_iframe{

	}


	.work_image{
		width: 36%;
		height: 36%;
		margin: 5%;
		object-fit: cover;
	}

	.work{
		margin-top: 10%;
		scroll-behavior: smooth;
	}

	.work_button, .about_button{
		color: #fff;
		padding-top: 2%;
		top: 0;
		text-decoration: none;
		font-size: 22px;
		font-weight: 300;
	}

	.work_button{

	}

	.workImg{
		width: 100%;
		height: 310px;
		object-fit: cover;
	}

	.workButton{
		background: none;
		outline: none;
		border: none;
		padding-top: 1%;
		padding-bottom: 1%;
	}

	.about_button{

	}

	.scroll_box{
		overflow-y: scroll;
		scroll-behavior: smooth;
	}

	.footerText{
		margin-top: 0%;
		margin-bottom: 5%;
		color: #fff;
		font-weight: 300;
	}

	.number_of_videos{
		font-size: 17px;
		font-weight: 300;
		color: #000;
		width: 80%;
		padding-top: 0%;
		padding-left: 3%;
		padding-right: 5%;
		padding-bottom: 2%;
		margin-top: 5%;
		text-align: left;
		position: fixed;
		bottom: 0;
	}

	.about_paragraph{
		font-size: 20px;
		font-weight: 300;
		color: #fff;
		width: 60%;
		margin-left: 20%;
		padding-top: 15%;
		padding-bottom: 10%;
	}

	.header{

	}

	.social_link{
		color: #fff;
	}

	.social_links{
		padding-top: 20%;
		padding-left: 40%;
	}

	.loading_screen{
		top: 0;
		z-index: 999;
		background-color: #fff;
	}

	.loadingVideo{
		z-index: -1;
		padding-top: 2.5%;
	}

	.videoBackground{
		left: 0;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: -999;
		background-color: #fff;
	}

	.fade-in.six {
	  -webkit-animation-delay: 5s;
	  -moz-animation-delay: 5s;
	  animation-delay: 5s;
	}

	.work_page{
		overflow: hidden;
		background-color: #000;
	}

	.vimeoVideo{
		position: fixed;
		top: 0;
		left: 0;
		z-index: -999;
	}

	.backButton{
		border: none;
		background: none;
		color: #fff;
		float: left;
		text-decoration: none;
		font-size: 2.4vw;
		z-index: 999;
		margin-left: 1%;
		margin-top: 25%;
	}

	.ig-logo{
		position: fixed;
		right: 0;
		bottom: 0;
		margin-bottom: 2.5%;
		margin-right: 2.5%;
		width: 25px;
		height: 25px;
	}

	.sp-black-logo{
		height: 100px;
		position: fixed;
		top: 0;
		left: 0;
	}

	.name-title{
		top: 0;
		position: fixed;
		font-size: 32px;
		font-weight: 700;
		padding-left: 2.5%;
		padding-top: 22%;
		line-height: 1em;
		font-style: italic;
	}

	.work_paragraph{
		font-size: 20px;
		font-weight: 300;
		color: #000;
		width: 80%;
		padding-top: 28%;
		padding-left: 5%;
		padding-right: 5%;
		margin-top: 20%;
		text-align: left;
	}

	@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


	.fade-in {
		opacity:0; 
		-webkit-animation:fadeIn ease-in 1; 
		-moz-animation:fadeIn ease-in 1;
		animation:fadeIn ease-in 1;

		-webkit-animation-fill-mode:forwards;  
		-moz-animation-fill-mode:forwards;
		animation-fill-mode:forwards;

		-webkit-animation-duration:1s;
		-moz-animation-duration:1s;
		animation-duration:1s;
	}
}