@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap');

body{
	font-family: 'Overpass Mono', monospace;
	background-color: #000;
}

@media (max-width: 900px) {

	.main_heading{
		font-size: 128px;	
		color: #fff;
		font-style: italic;
	}

	 .col{

	 }

	 .flex-grid {

	 }

	.logo{
		visibility: hidden;
	}

	.logo_small{
		padding-top: 1%;
		padding-left: 1%;
		width: 150px;
		left: 0;
		top: 0;
		position: fixed;
	}

	.main{
		padding-top: 0%;
		padding-bottom: 0%;
		scroll-behavior: smooth;
		top: 0;
	}

	.main_tagline{
		font-size: 22px;
		color: #fff;
		font-weight: 300;	
	}

	.menu_section{
		margin-top: 1%;
	}

	.menu_section_light{
		margin-top: 2%;
	}

	.menu_button{
		padding-top: 0%;
		color: #000;
		background: none;
		border: none;
		outline: none;
		right: 0;
		font-size: 18px;
		position: fixed;
		padding-right: 2%;
		text-decoration: none;
	}

	.menu_button_light{
		padding-top: 0%;
		color: #FFF;
		background: none;
		border: none;
		outline: none;
		right: 0;
		font-size: 16px;
		position: fixed;
		padding-right: 2%;
		text-decoration: none;
	}

	.main_video{
		background-color: #fff;
		width: 100%;
		right: 0;
		top: 0;
		bottom: 0;
		position: fixed;
	}

	.youtube_iframe{
		margin-top: 45%;
		width: 90%; 
		height: 30%;
	}


	.work_image{
		width: 36%;
		height: 36%;
		margin: 5%;
		object-fit: cover;
	}

	.work{
		margin-top: 10%;
		scroll-behavior: smooth;
	}

	.work_button, .about_button{
		color: #fff;
		padding-top: 2%;
		top: 0;
		text-decoration: none;
		font-size: 22px;
		font-weight: 300;
	}

	.work_button{

	}

	.workImg{
		width: 100%;
		height: 300px;
		object-fit: cover;
	}

	.workButton{
		background: none;
		outline: none;
		border: none;
		padding-top: 1%;
		padding-bottom: 1%;
	}

	.about_button{

	}

	.scroll_box{
		overflow-y: scroll;
		scroll-behavior: smooth;
	}

	.footerText{
		margin-top: 0%;
		margin-bottom: 5%;
		color: #fff;
		font-weight: 300;
	}

	.work_paragraph{
		font-size: 22px;
		font-weight: 300;
		color: #000;
		width: 80%;
		padding-top: 15%;
		padding-left: 5%;
		padding-right: 5%;
		margin-top: 20%;
		text-align: left;
	}

	.number_of_videos{
		font-size: 22px;
		font-weight: 300;
		color: #000;
		width: 80%;
		padding-top: 0%;
		padding-left: 3%;
		padding-right: 5%;
		padding-bottom: 2%;
		margin-top: 5%;
		text-align: left;
		position: fixed;
		bottom: 0;
	}

	.about_paragraph{
		font-size: 18px;
		font-weight: 300;
		color: #fff;
		width: 90%;
		margin-left: 5%;
		padding-top: 10%;
		padding-bottom: 40%;
	}

	.header{

	}

	.social_link{
		color: #fff;
	}

	.social_links{
		padding-top: 50%;
		padding-left: 15%;
	}

	.loading_screen{
		top: 0;
		z-index: 999;
		background-color: #000;
	}

	.loadingVideo{
		z-index: -999;
		position: fixed;
		left: 0;
		padding-left: 0%;
		padding-top: 60%;
		width: 350px;
	}

	.fade-in.six {
	  -webkit-animation-delay: 11s;
	  -moz-animation-delay: 11s;
	  animation-delay: 11s;
	}

	@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


	.fade-in {
		opacity:0; 
		-webkit-animation:fadeIn ease-in 1; 
		-moz-animation:fadeIn ease-in 1;
		animation:fadeIn ease-in 1;

		-webkit-animation-fill-mode:forwards;  
		-moz-animation-fill-mode:forwards;
		animation-fill-mode:forwards;

		-webkit-animation-duration:1s;
		-moz-animation-duration:1s;
		animation-duration:1s;
	}
}

@media (min-width: 900px) {

	.main_heading{
		font-size: 128px;	
		color: #fff;
		font-style: italic;
	}

	 .col{
	 	flex: 1;
	 }

	 .flex-grid {
		 display: flex;
	 }

	.logo{
		width: 30%;
		margin-top: 50%;
		margin-left: 35%;
		margin-bottom: 40%;
	}

	.logo_small{
		padding-top: 1%;
		padding-left: 1%;
		width: 150px;
		left: 0;
		top: 0;
		position: fixed;
	}

	.main{
		padding-top: 0%;
		padding-bottom: 0%;
		scroll-behavior: smooth;
		top: 0;
	}

	.main_tagline{
		font-size: 22px;
		color: #fff;
		font-weight: 300;	
	}

	.menu_section{
		margin-top: 1%;
	}

	.menu_section_light{
		margin-top: 2%;
	}

	.menu_button{
		padding-top: 0%;
		color: #000;
		background: none;
		border: none;
		outline: none;
		right: 0;
		font-size: 14px;
		position: fixed;
		padding-right: 2%;
		text-decoration: none;
	}

	.menu_button_light{
		padding-top: 0%;
		color: #FFF;
		background: none;
		border: none;
		outline: none;
		right: 0;
		font-size: 16px;
		position: fixed;
		padding-right: 2%;
		text-decoration: none;
	}

	.main_video{
		background-color: #fff;
		width: 50%;
		right: 0;
		top: 0;
		bottom: 0;
		position: fixed;
	}

	.youtube_iframe{
		margin-top: 25%;
		width: 70%; 
		height: 35%;
	}


	.work_image{
		width: 36%;
		height: 36%;
		margin: 5%;
		object-fit: cover;
	}

	.work{
		margin-top: 10%;
		scroll-behavior: smooth;
	}

	.work_button, .about_button{
		color: #fff;
		padding-top: 2%;
		top: 0;
		text-decoration: none;
		font-size: 22px;
		font-weight: 300;
	}

	.work_button{

	}

	.workImg{
		width: 100%;
		height: 300px;
		object-fit: cover;
	}

	.workButton{
		background: none;
		outline: none;
		border: none;
		padding-top: 1%;
		padding-bottom: 1%;
	}

	.about_button{

	}

	.scroll_box{
		overflow-y: scroll;
		scroll-behavior: smooth;
	}

	.footerText{
		margin-top: 0%;
		margin-bottom: 5%;
		color: #fff;
		font-weight: 300;
	}

	.work_paragraph{
		font-size: 22px;
		font-weight: 300;
		color: #000;
		width: 80%;
		padding-top: 15%;
		padding-left: 5%;
		padding-right: 5%;
		margin-top: 20%;
		text-align: left;
	}

	.number_of_videos{
		font-size: 22px;
		font-weight: 300;
		color: #000;
		width: 80%;
		padding-top: 0%;
		padding-left: 3%;
		padding-right: 5%;
		padding-bottom: 2%;
		margin-top: 5%;
		text-align: left;
		position: fixed;
		bottom: 0;
	}

	.about_paragraph{
		font-size: 15px;
		font-weight: 300;
		color: #fff;
		width: 60%;
		margin-left: 20%;
		padding-top: 10%;
		padding-bottom: 10%;
	}

	.header{

	}

	.social_link{
		color: #fff;
	}

	.social_links{
		padding-top: 20%;
		padding-left: 40%;
	}

	.loading_screen{
		top: 0;
		z-index: 999;
		background-color: #000;
	}

	.loadingVideo{
		z-index: -999;
		position: fixed;
		left: 0;
		padding-left: 18%;
		padding-top: 10%;
	}

	.fade-in.six {
	  -webkit-animation-delay: 11s;
	  -moz-animation-delay: 11s;
	  animation-delay: 11s;
	}

	@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


	.fade-in {
		opacity:0; 
		-webkit-animation:fadeIn ease-in 1; 
		-moz-animation:fadeIn ease-in 1;
		animation:fadeIn ease-in 1;

		-webkit-animation-fill-mode:forwards;  
		-moz-animation-fill-mode:forwards;
		animation-fill-mode:forwards;

		-webkit-animation-duration:1s;
		-moz-animation-duration:1s;
		animation-duration:1s;
	}
}